
extends layout

block styles
  style(type='text/css')
    #searchResult,
    #facetResult {
      min-height: 500px;
    }

    .page-header form {
      margin-bottom: 0px;
    }

    .page-header h3 {
        background-color: whiteSmoke;
        border: 1px solid #ddd;
        padding-left: 10px;
    }

    .page-header .actions {
      padding : 5px 10px 5px 10px;
      margin-bottom: 0px;
    }

    .block-message p {
      word-break: break-all;
    }

block append scripts
  script(type='text/javascript')
    $(document).ready(function(){

      $('#searchBtn').click(function(){
        var haveCondition = false;

        var keywords = $('#searchForm').serializeArray();

        for(var k = 0; k < keywords.length; k++){
          if(keywords[k] != ''){
            haveCondition = true;
            break;
          }
        }

        if(haveCondition){
          $('#searchForm').submit();
        }else{
          alert("Don't input any keywords!!");
          return;
        }
      });

    });

    function turnPage(start){
      $('#keyword').val('#{params.keyword}');
      $('#dateStart').val('#{params.dateStart}');
      $('#dateEnd').val('#{params.dateEnd}');
      $('#uriKeyword').val('#{params.uriKeyword}');
      $('#fileName').val('#{params.fileName}');
      $('#referrer').val('#{params.referrer}');
      $('#userAgent').val('#{params.userAgent}');
      $('#browserFamily').val('#{params.browserFamily}');
      $('#start').val(start);
      $('#searchForm').submit();
    }

    function filter(facet){
      $('#keyword').val('#{params.keyword}');
      $('#dateStart').val('#{params.dateStart}');
      $('#dateEnd').val('#{params.dateEnd}');
      $('#uriKeyword').val('#{params.uriKeyword}');
      $('#fileName').val('#{params.fileName}');
      $('#referrer').val('#{params.referrer}');
      $('#userAgent').val('#{params.userAgent}');
      $('#browserFamily').val('"' + facet.browserFamily + '"');
      $('#start').val(0);
      $('#searchForm').submit();
    }

    function query(values){
      for(var k in values){
        $('#' + k).val(values[k]);
      }
      $('#browserFamily').val('');
      $('#start').val(0);
      $('#searchForm').submit();
    }

block content
  div.content
    div.page-header
      h3 Search Form
      form(id='searchForm', name='searchForm', method='get', action='/search')
        input(type='hidden', name='start', id='start', value='#{params.start}')
        input(type='hidden', name='browserFamily', id='browserFamily', value='#{params.browserFamily}')
        dir.row
          div.span7
            label(for='keyword') Keyword
            div.input
              input#keyword.xlarge(name='keyword', type='text', value="#{params.keyword}")
          div.span7
            label Date Range
            div.input
              div.inline-inputs
                input#dateStart.small(name='dateStart', type='text', value="#{params.dateStart}")
                | &nbsp;-&nbsp;
                input#dateEnd.small(name='dateEnd', type='text', value="#{params.dateEnd}")
        dir.row
          div.span7
            label Uri
            div.input
              input#uriKeyword.xlarge(name='uriKeyword', type='text', value="#{params.uriKeyword}")
          div.span7
            label File Name
            div.input
              select#fileName(name='fileName')
                option(value='12') 1_access.log(12)
        dir.row
          div.span7
            label Referrer
            div.input
              input#referrer.xlarge(name='referrer', type='text', value="#{params.referrer}")
          div.span7
            label UserAgent
            div.input
              input#userAgent.xlarge(name='userAgent', type='text', value="#{params.referrer}")
        div.actions
          input#searchBtn.btn.primary(type='button', value='Search')

    - if(responseJson)
      div#result.row
        div#searchResult.span12
          dir.alert-message.success
            p
              strong Result:
              | #{responseJson.response.numFound},
              strong time:
              | #{responseJson.responseHeader.QTime}ms
          - responseJson.response.docs.forEach(function(item){
            div.alert-message.block-message.success
              p
                strong IP:&nbsp;
                | #{item.ipString} &nbsp;&nbsp;
                strong Date:&nbsp;
                | #{item.accessTime} &nbsp;&nbsp;
                strong StatusCode:&nbsp;
                | #{item.responseCode} &nbsp;&nbsp;
                strong File:&nbsp;
                | 1_access.log &nbsp;&nbsp;
              p
                strong Uri:&nbsp;
                | <a href='#' onclick='query({uriKeyword:"#{item.uri}"})'>#{item.uri}</a>
              p
                strong Referrer:&nbsp;
                | #{item.referrer}
              p(title='#{item.userAgent}')
                strong Browser:&nbsp;
                | #{item.browserVersion}
                strong OS:&nbsp;
                | #{item.os}
          - })
          mixin pagination(responseJson.response.numFound, new Number(responseJson.responseHeader.params.start), 10)

        div#facetResult.span4
          dir.alert-message.success
            p Catalog Result
          - for(var facetField in responseJson.facet_counts.facet_fields){  
          -   var values = responseJson.facet_counts.facet_fields[facetField];
            div.row
              div.span4
                ul
                  h4 #{facetField}
                  - for(var f = 0; f < values.length; f += 2){
                    li 
                      a(href='#', onclick='filter({browserFamily:"#{values[f]}"})') #{values[f]}(#{values[f+1]})
                  - }
          - }