
extends layout

block styles
  style(type='text/css')
    #searchResult,
    #facetResult {
      min-height: 500px;
    }

    .page-header form {
      margin-bottom: 0px;
    }

    .page-header h3 {
        background-color: whiteSmoke;
        border: 1px solid #ddd;
        padding-left: 10px;
    }

    .page-header .actions {
      padding : 5px 10px 5px 10px;
      margin-bottom: 0px;
    }

    .block-message p {
      word-break: break-all;
    }

block append scripts
  script(type='text/javascript')
    $(document).ready(function(){

      $('#searchBtn').click(function(){
        var haveCondition = false;

        var keywords = $('#searchForm').serializeArray();

        for(var k = 0; k < keywords.length; k++){
          if(keywords[k] != ''){
            haveCondition = true;
            break;
          }
        }

        if(haveCondition){
          $('#searchForm').submit();
        }else{
          alert("Don't input any keywords!!");
          return;
        }
      });

    });

    function turnPage(start){
      $('#keyword').val('#{params.keyword}');
      $('#dateStart').val('#{params.dateStart}');
      $('#dateEnd').val('#{params.dateEnd}');
      $('#uriKeyword').val('#{params.uriKeyword}');
      $('#fileName').val('#{params.fileName}');
      $('#referrer').val('#{params.referrer}');
      $('#userAgent').val('#{params.userAgent}');
      $('#start').val(start);
      $('#searchForm').submit();
    }

    function query(values){
      for(var k in values){
        $('#' + k).val(values[k]);
      }
      $('#start').val(0);
      $('#searchForm').submit();
    }

block content
  div.content
    div.page-header
      h3 Search Form
      form(id='searchForm', name='searchForm', method='post', action='/search')
        input(type='hidden', name='start', id='start', value='0')
        dir.row
          div.span7
            label(for='keyword') Keyword
            div.input
              input#keyword.xlarge(name='keyword', type='text')
          div.span7
            label Date Range
            div.input
              div.inline-inputs
                input#dateStart.small(name='dateStart', type='text')
                | &nbsp;-&nbsp;
                input#dateEnd.small(name='dateEnd', type='text')
        dir.row
          div.span7
            label Uri
            div.input
              input#uriKeyword.xlarge(name='uriKeyword', type='text')
          div.span7
            label File Name
            div.input
              select#fileName(name='fileName')
                option(value='12') 1_access.log(12)
        dir.row
          div.span7
            label Referrer
            div.input
              input#referrer.xlarge(name='referrer', type='text')
          div.span7
            label UserAgent
            div.input
              input#userAgent.xlarge(name='userAgent', type='text')
        div.actions
          input#searchBtn.btn.primary(type='button', value='Search')

    - if(responseJson)
      div#result.row
        div#searchResult.span12
          dir.alert-message.success
            p
              strong Result:
              | #{responseJson.response.numFound},
              strong time:
              | #{responseJson.responseHeader.QTime}ms
          - responseJson.response.docs.forEach(function(item){
            div.alert-message.block-message.success
              p
                strong IP:&nbsp;
                | #{item.ipString} &nbsp;&nbsp;
                strong Date:&nbsp;
                | #{item.accessTime} &nbsp;&nbsp;
                strong StatusCode:&nbsp;
                | #{item.responseCode} &nbsp;&nbsp;
                strong File:&nbsp;
                | 1_access.log &nbsp;&nbsp;
              p
                strong Uri:&nbsp;
                | <a href='#' onclick='query({uriKeyword:"#{item.uri}"})'>#{item.uri}</a>
              p
                strong Referrer:&nbsp;
                | #{item.referrer}
              p
                strong UserAgent:&nbsp;
                | #{item.userAgent}
          - })
          mixin pagination(responseJson.response.numFound, new Number(responseJson.responseHeader.params.start), 10)

        div#facetResult.span4
          dir.alert-message.success
            p Catalog Result
          div.row
            div.span2
              ul
                strong Status Code
                li 500(123)
                li 404(123)
                li 200(12351)
          div.row
            div.span2
              ul
                strong Stats
                li CA(123)
                li LA(123)
                li MA(12351)
          div.row
            div.span2
              ul
                strong Browser
                li Chrome(123)
                li FireFox(123)
                li IE(12351)