extends layout

block styles

block append scripts
  script(src='/socket.io/socket.io.js')
  script
    $(document).ready(function(){
      var socket = io.connect();

      socket.on('connect', function(){
          socket.emit('START_JOB_LISTEN');
      });

      socket.on('JOB_LISTEN', function(data){
        $('#progress_' + data.jobId).width(data.progress + '%');
      });
    });

block content
  div.content
    div.page-header
      h3 Jobs Processing
    div#jobs.row
      - jobs.forEach(function(item){
        div.span16
          div.alert-message.block-message.success
            p
              strong Job Id:&nbsp;
              | #{item.id}# &nbsp;&nbsp;
              strong Log File Name:&nbsp;
              | #{item.data.fileName}&nbsp;&nbsp;
              strong Start Time:&nbsp;
              | #{item.startTime} &nbsp;&nbsp;
              strong End Time:&nbsp;
              | 2012-01-01 12:12:20 &nbsp;&nbsp;
            p
              strong Processing:&nbsp;
            p  
              div.row(style='background-color:red;min-height:20px; margin:0px')
                  div.row(id='progress_#{item.id}', style='background-color:blue; min-height:20px; width:#{item._progress ? item._progress : 0}%; margin:0px')
      - });